.window-frame, .window-frame:backdrop {
	border-radius: 0;
	#margin: 0;
}

.titlebar {
	border-radius: 0;
}

.window-frame.solid-csd {
	border-radius: 0;
	margin: 0;
	background-color: alpha(black, 0);
	#border: solid 1px alpha(black, 0.18);
	box-shadow: none;
}
