.window-frame, .window-frame:backdrop {
	border-radius: 0 0 0 0;
}

.titlebar {
	border-radius: 0 0 0 0;
}

/*************
 * Slingshot *
 ************/

SlingshotWidgetsSearchView GtkButton.flat:hover,
SlingshotWidgetsSearchView GtkButton.flat:focus {
	background-color: alpha (#000, 0.20);
	text-shadow: none;
}

/************
 * Terminal *
 ***********/

PantheonTerminalPantheonTerminalWindow.background {
	background-color: transparent;
}
