! urxvt
URxvt.depth: 32
!URxvt.background: rgba:2600/3200/3800/dddd
URxvt.background: rgba:0000/2b00/3600/dddd
URxvt.foreground: #BDBDBD
URxvt.cursorColor: #E91E63
!URxvt.borderColor: rgba:2600/3200/3800/dddd
URxvt.borderColor: rgba:0000/2b00/3600/dddd
URxvt.colorUL: #4A90D9
URxvt.cursorBlink: true
URxvt.borderless: false
URxvt.internalBorder: 10
URxvt.scrollBar: true
URxvt.scrollBar_right: true
URxvt.scrollstyle: plain
URxvt.scrollBar_floating: true
Urxvt.secondaryScroll: true
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true
urxvt.font: xft:Terminess Powerline-9
URxvt.letterSpace: 0
URxvt.geometry: 175x61
! transparency
!URxvt.transparent: true
!URxvt.tintColor: #2d2d2d
URxvt.shading: 40
URxvt.blurRadius: 30
! perl extensions (tabs, clickable URLs, yankable URLs)
URxvt.perl-ext:
!URxvt.perl-ext-common: default,tabbed,matcher,url-select
URxvt.perl-ext-common:
! tabs
URxvt.tabbed.tabbar-bg: -1
URxvt.tabbed.tabbar-fg: -2
URxvt.tabbed.tab-bg: -2
URxvt.tabbed.tab-fg: -1
URxvt.tabbed.title-bg: -1
URxvt.tabbed.title-fg: -2
URxvt.tabbed.autohide: true
URxvt.tabbed.new-button: false
URxvt.tabbed.title: true
! clickable URLs
URxvt.matcher.button: 1
URxvt.urlLauncher: /usr/bin/xdg-open
! yankable URLs
URxvt.underlineURLs: true
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
 
! fonts
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3


! Light

! #define S_base03        #fdf6e3
! #define S_base02        #eee8d5
! #define S_base01        #93a1a1
! #define S_base00        #839496
! #define S_base0         #657b83
! #define S_base1         #586e75
! #define S_base2         #073642
! #define S_base3         #002b36


! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

*background:              S_base03
*foreground:              S_base0
*fading:                  40
*fadeColor:               S_base03
*cursorColor:             S_base1
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1

*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color8:                  S_base03
*color9:                  S_orange
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base0
*color13:                 S_violet
*color14:                 S_base1
*color15:                 S_base3

! urxvtq
urxvtq.depth: 32
!urxvtq.background: rgba:2600/3200/3800/aaaa
urxvtq.background: rgba:0000/2b00/3600/aaaa
urxvtq.foreground: #BDBDBD
urxvtq.cursorColor: #E91E63
!urxvtq.borderColor: rgba:2600/3200/3800/aaaa
urxvtq.borderColor: rgba:0000/2b00/3600/aaaa
urxvtq.colorUL: #4A90D9
urxvtq.cursorBlink: true
urxvtq.borderless: false
urxvtq.internalBorder: 10
urxvtq.scrollBar: true
urxvtq.scrollBar_right: true
urxvtq.scrollstyle: plain
urxvtq.scrollBar_floating: true
urxvtq.secondaryScroll: true
urxvtq.scrollTtyOutput: false
urxvtq.scrollWithBuffer: true
urxvtq.scrollTtyKeypress: true
urxvtq.font: xft:Terminess Powerline-9
urxvtq.letterSpace: 0
!urxvtq.geometry: 317x20+0+29
urxvtq.geometry: 183x20+400+0
! transparency
!urxvtq.transparent: true
!urxvtq.tintColor: #2d2d2d
urxvtq.shading: 40
urxvtq.blurRadius: 30
! perl extensions (tabs, clickable URLs, yankable URLs)
urxvtq.perl-ext:
!urxvtq.perl-ext-common: default,tabbed,matcher,url-select
urxvtq.perl-ext-common:
! tabs
urxvtq.tabbed.tabbar-bg: -1
urxvtq.tabbed.tabbar-fg: -2
urxvtq.tabbed.tab-bg: -2
urxvtq.tabbed.tab-fg: -1
urxvtq.tabbed.title-bg: -1
urxvtq.tabbed.title-fg: -2
urxvtq.tabbed.autohide: true
urxvtq.tabbed.new-button: false
urxvtq.tabbed.title: true
! clickable URLs
urxvtq.matcher.button: 1
urxvtq.urlLauncher: /usr/bin/xdg-open
! yankable URLs
urxvtq.underlineURLs: true
urxvtq.keysym.M-u: perl:url-select:select_next
urxvtq.url-select.launcher: /usr/bin/xdg-open

Xcursor.theme: Breeze_cursors
Xcursor.size: 16
