dzen2.font: Envy\ Code\ R\ for\ Powerline:size=10
dzen2.foreground: $ffffff
dzen2.background: #002b36
! urxvt
URxvt.iconFile: /usr/share/icons/elementary/apps/128/utilities-terminal.svg
URxvt.geometry: 150x49
URxvt.depth: 32
URxvt.background: rgba:2c00/3e00/5000/f5f5
!URxvt.background: rgba:2600/3200/3800/f5f5
!URxvt.background: rgba:0000/2b00/3600/eeee
URxvt.foreground: #BDBDBD
URxvt.cursorColor: #E91E63
URxvt.internalBorder: 10
URxvt.borderColor: rgba:2c00/3e00/5000/f5f5
!URxvt.borderColor: rgba:2600/3200/3800/f5f5
!URxvt.borderColor: rgba:0000/2b00/3600/eeee
URxvt.colorUL: #4A90D9
URxvt.cursorBlink: true
URxvt.borderless: false
URxvt.scrollBar: true
URxvt.scrollBar_right: true
URxvt.scrollstyle: plain
URxvt.scrollBar_floating: true
Urxvt.secondaryScroll: true
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true
! transparency
!URxvt.transparent: true
!URxvt.tintColor: #2d2d2d
URxvt.shading: 40
URxvt.blurRadius: 30
! perl extensions (tabs, clickable URLs, yankable URLs)
URxvt.perl-ext:
!URxvt.perl-ext-common: default,tabbed,matcher,url-select
URxvt.perl-ext-common:
! tabs
URxvt.tabbed.tabbar-bg: -1
URxvt.tabbed.tabbar-fg: -2
URxvt.tabbed.tab-bg: -2
URxvt.tabbed.tab-fg: -1
URxvt.tabbed.title-bg: -1
URxvt.tabbed.title-fg: -2
URxvt.tabbed.autohide: true
URxvt.tabbed.new-button: false
URxvt.tabbed.title: true
! clickable URLs
URxvt.matcher.button: 1
URxvt.urlLauncher: /usr/bin/xdg-open
! yankable URLs
URxvt.underlineURLs: true
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
 
! fonts
!URxvt.font: xft:Terminess\ Powerline:size=9
!, xft:PowerlineSymbols:size=9
URxvt.font: xft:Envy\ Code\ R\ for\ Powerline:size=10
URxvt.boldfont: xft:Envy\ Code\ R\ for\ Powerline:size=10:style=bold
URxvt.letterSpace: 0

Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! urxvtq
urxvtq.font: xft:Envy\ Code\ R\ for\ Powerline:size=10
urxvtq.boldfont: xft:Envy\ Code\ R\ for\ Powerline:size=10:style=bold
urxvtq.letterSpace: 0
urxvtq.depth: 32
!urxvtq.background: rgba:2600/3200/3800/aaaa
urxvtq.background: rgba:0000/0000/0000/bbbb
urxvtq.foreground: #BDBDBD
urxvtq.cursorColor: #E91E63
!urxvtq.borderColor: rgba:2600/3200/3800/aaaa
urxvtq.borderColor: rgba:0000/0000/0000/bbbb
urxvtq.colorUL: #4A90D9
urxvtq.cursorBlink: true
urxvtq.borderless: false
urxvtq.internalBorder: 10
urxvtq.scrollBar: true
urxvtq.scrollBar_right: true
urxvtq.scrollstyle: plain
urxvtq.scrollBar_floating: true
urxvtq.secondaryScroll: true
urxvtq.scrollTtyOutput: false
urxvtq.scrollWithBuffer: true
urxvtq.scrollTtyKeypress: true
urxvtq.geometry: 148x20+435+0
! transparency
!urxvtq.transparent: true
!urxvtq.tintColor: #2d2d2d
urxvtq.shading: 40
urxvtq.blurRadius: 30
! perl extensions (tabs, clickable URLs, yankable URLs)
urxvtq.perl-ext:
!urxvtq.perl-ext-common: default,tabbed,matcher,url-select
urxvtq.perl-ext-common:
! tabs
urxvtq.tabbed.tabbar-bg: -1
urxvtq.tabbed.tabbar-fg: -2
urxvtq.tabbed.tab-bg: -2
urxvtq.tabbed.tab-fg: -1
urxvtq.tabbed.title-bg: -1
urxvtq.tabbed.title-fg: -2
urxvtq.tabbed.autohide: true
urxvtq.tabbed.new-button: false
urxvtq.tabbed.title: true
! clickable URLs
urxvtq.matcher.button: 1
urxvtq.urlLauncher: /usr/bin/xdg-open
! yankable URLs
urxvtq.underlineURLs: true
urxvtq.keysym.M-u: perl:url-select:select_next
urxvtq.url-select.launcher: /usr/bin/xdg-open

! Base16 Flat
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #233541
#define base01 #34495E
#define base02 #7F8C8D
#define base03 #95A5A6
#define base04 #BDC3C7
#define base05 #e0e0e0
#define base06 #f5f5f5
#define base07 #ECF0F1
#define base08 #E74C3C
#define base09 #E67E22
#define base0A #F1C40F
#define base0B #2ECC71
#define base0C #1ABC9C
#define base0D #3498DB
#define base0E #9B59B6
#define base0F #be643c

*foreground:   base05
*background:   #2C3E50
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06

Xcursor.theme: Breeze_cursors
Xcursor.size: 16
