dzen2.font: -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1
dzen2.foreground: $ffffff
dzen2.background: #002b36
! urxvt
URxvt.iconFile: /usr/share/icons/elementary/apps/128/utilities-terminal.svg
URxvt.depth: 32
!URxvt.background: rgba:2600/3200/3800/eeee
URxvt.background: rgba:0000/2b00/3600/eeee
URxvt.foreground: #BDBDBD
URxvt.cursorColor: #E91E63
!URxvt.borderColor: rgba:2600/3200/3800/eeee
URxvt.borderColor: rgba:0000/2b00/3600/eeee
URxvt.colorUL: #4A90D9
URxvt.cursorBlink: true
URxvt.borderless: false
URxvt.internalBorder: 10
URxvt.scrollBar: true
URxvt.scrollBar_right: true
URxvt.scrollstyle: plain
URxvt.scrollBar_floating: true
Urxvt.secondaryScroll: true
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true
URxvt.font: xft:Terminess Powerline-9
URxvt.letterSpace: 0
URxvt.geometry: 175x61
! transparency
!URxvt.transparent: true
!URxvt.tintColor: #2d2d2d
URxvt.shading: 40
URxvt.blurRadius: 30
! perl extensions (tabs, clickable URLs, yankable URLs)
URxvt.perl-ext:
!URxvt.perl-ext-common: default,tabbed,matcher,url-select
URxvt.perl-ext-common:
! tabs
URxvt.tabbed.tabbar-bg: -1
URxvt.tabbed.tabbar-fg: -2
URxvt.tabbed.tab-bg: -2
URxvt.tabbed.tab-fg: -1
URxvt.tabbed.title-bg: -1
URxvt.tabbed.title-fg: -2
URxvt.tabbed.autohide: true
URxvt.tabbed.new-button: false
URxvt.tabbed.title: true
! clickable URLs
URxvt.matcher.button: 1
URxvt.urlLauncher: /usr/bin/xdg-open
! yankable URLs
URxvt.underlineURLs: true
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
 
! fonts
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

! urxvtq
urxvtq.depth: 32
!urxvtq.background: rgba:2600/3200/3800/aaaa
urxvtq.background: rgba:0000/2b00/3600/bbbb
urxvtq.foreground: #BDBDBD
urxvtq.cursorColor: #E91E63
!urxvtq.borderColor: rgba:2600/3200/3800/aaaa
urxvtq.borderColor: rgba:0000/2b00/3600/bbbb
urxvtq.colorUL: #4A90D9
urxvtq.cursorBlink: true
urxvtq.borderless: false
urxvtq.internalBorder: 10
urxvtq.scrollBar: true
urxvtq.scrollBar_right: true
urxvtq.scrollstyle: plain
urxvtq.scrollBar_floating: true
urxvtq.secondaryScroll: true
urxvtq.scrollTtyOutput: false
urxvtq.scrollWithBuffer: true
urxvtq.scrollTtyKeypress: true
urxvtq.font: xft:Terminess Powerline-9
urxvtq.letterSpace: 0
!urxvtq.geometry: 317x20+0+29
urxvtq.geometry: 183x25+400+0
! transparency
!urxvtq.transparent: true
!urxvtq.tintColor: #2d2d2d
urxvtq.shading: 40
urxvtq.blurRadius: 30
! perl extensions (tabs, clickable URLs, yankable URLs)
urxvtq.perl-ext:
!urxvtq.perl-ext-common: default,tabbed,matcher,url-select
urxvtq.perl-ext-common:
! tabs
urxvtq.tabbed.tabbar-bg: -1
urxvtq.tabbed.tabbar-fg: -2
urxvtq.tabbed.tab-bg: -2
urxvtq.tabbed.tab-fg: -1
urxvtq.tabbed.title-bg: -1
urxvtq.tabbed.title-fg: -2
urxvtq.tabbed.autohide: true
urxvtq.tabbed.new-button: false
urxvtq.tabbed.title: true
! clickable URLs
urxvtq.matcher.button: 1
urxvtq.urlLauncher: /usr/bin/xdg-open
! yankable URLs
urxvtq.underlineURLs: true
urxvtq.keysym.M-u: perl:url-select:select_next
urxvtq.url-select.launcher: /usr/bin/xdg-open

! 8 8 8
! *background: #080808
! 128 128 128
! *foreground: #808080
! black
! 26 26 26
*color0:  #1a1a1a
! 64 64 64
*color8:  #404040
! red
! 215 95 95
*color1:  #d75f5f
! 234 132 132
*color9:  #EA8484
! green
! 135 175 95
*color2:  #87af5f
! 199 240 159
*color10: #C7F09F
! yellow
! 255 175 95
*color3:  #ffaf5f
! 255 204 154
*color11: #FFCC9A
! blue
! 135 175 215
*color4:  #87afd7
! 165 202 239
*color12: #a5caef
! magenta
! 135 135 175
*color5:  #9c77b2
! 166 166 222
*color13: #A6A6DE
! cyan
! 95 135 135
*color6:  #2aa198
! 105 178 178
*color14: #69b2b2
! white
! 128 128 128
*color7:  #eee8d5
! 215 215 215
*color15: #fafafa

Xcursor.theme: Breeze_cursors
Xcursor.size: 16
