.art {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	border-radius: 3px;
	margin: 20px;
}

.h1 {
	font-size: 15px;
}
.h2 {
	font-size: 15px;
}
