.toggle {
	padding-left: 15px;
	padding-right: 15px;
}

.art {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	border-radius: 3px;
	margin: 15px;
}

.h1 {
	font-size: 1.3em;
}

.h2 {
	font-size: 1.1em;
}
.hide_label {
	font-size: 0;
}

treeview {
}
