[Desktop Entry]
Encoding=UTF-8
Name=Tint2 Menu
Comment=Tint2 Menu
X-GNOME-FullName=Menu
Exec=dmenu_launch
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/calarco/.icons/search.svg
NoDisplay=true
Categories=Menu;
MimeType=
StartupNotify=true
