[Desktop Entry]
Type=Application
Name=ncmpcpp
Icon=multimedia-audio-player
Exec=urxvtc -name ncmpcpp -e ncmpcpp
NoDisplay=false
Categories=Audiovideo;X-Gnome-Other;
StartupNotify=false
Terminal=false
