[Desktop Entry]
Encoding=UTF-8
Name=Tint2 Menu
Comment=Tint2 WM Menu
X-GNOME-FullName=Menu
Exec=mygtkmenu ~/.scripts/BspwmMenu
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/calarco/.icons/arrow-drop-down.svg
NoDisplay=true
Categories=Menu;
MimeType=
StartupNotify=true
